@charset "UTF-8";

html {
    font-size: 100%;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: blue;
}

h2 {
    font-size: 1.5rem;
    color: green;
}

body {
    background-image: url('bg.png');
}
